*
{
  box-sizing: border-box
}

body,
html,
#root{
  height : 100%;
  margin:0;
  font-family:'Seoge UI',Tahoma,Geneva,verdana,sans-serif;
  background-color: #f4f7fa;
  color : #333;
}

/* For home , hero, and customer support team */

.hero-title{
  font-size: 2.8rem;
  margin-bottom: 18px;
  font-weight: 700;
}

.hero-description{
  font-size: 1.2rem;
  margin-bottom: 28px;
}

.hero-section
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10% 40px 10%;
  background: var(--background-color);
  border-radius: 0 0 40px 40px;
  box-shadow: 0 8px 32px rgba(79, 140, 255, 0.08);
  color: #fff;
  flex-wrap: wrap;
}

/* Team Info */
.team-section{
  margin: 60px auto 0 auto;
  max-width:900px;
  text-align:center
}

.start-chat-button{
  background : var (--yellow-color);
  color:#2a2a2a;
  padding : 14px 34px;
  border-radius : 30px;
  font-weight : 600;
  text-decoration : none;
  box-shadow : 0 2px 8px rgba(0,0,0,0.08);
  display : inline-block;
}